
.miniTareaForm {
    width: 100%; 
    padding: 5px; 
    box-shadow: 0 2px 4px #0000005b; 

    input {
        width: 100%; 
        padding: 8px; 
        font-size: 14px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
    }
}
